body {
    font-family: 'Patrick Hand', cursive;
    margin: 0;
}

header ul, header ul span {
    height: 50px;
    border-bottom: 4px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    header ul li {
        list-style: none;
        margin: 0 20px 0 0;
    }

        header ul li a, .btn {
            font-size: 20px;
            padding: 2px 50px;
            border: 3px solid black;
            box-shadow: 4px 4px black;
            text-decoration: none;
            color: black;
        }

            header ul li a:hover, .btn:hover {
                box-shadow: 3px 3px black;
            }

.main-container {
    max-width: 1024px;
    margin: 50px auto;
}

.home-index {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}

    .home-index h1 {
        text-align: center;
        font-size: 40px;
        padding: 5px 0;
    }

    .home-index p {
        padding: 5px;
        margin-bottom: 40px;
    }

    .home-index a {
        margin: 0 40px 0 20px;
        padding: 10px 40px;
    }



.events-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}

    .events-container .event-item {
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 190px;
        height: 300px;
        margin: 15px;
        padding: 10px;
        border: 4px solid black;
    }

        .events-container .event-item h3 {
            height: 20%;
            margin: 0;
            overflow: hidden;
        }

        .events-container .event-item p {
            height: 50%;
            margin: 0;
        }

        .events-container .event-item span {
            height: 15%;
        }

        .events-container .event-item a {
            padding: 0;
            width: 70%;
            margin: 0 auto;
        }


.events-join {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

    .events-join form {
        margin: 20px auto;
    }

        .events-join form > * {
            font-family: inherit;
        }

.details {
    width: 600px;
    height: 240px;
    margin: 0 auto;
    padding: 10px;
    border: 4px solid black;
}

    .details h2 {
        margin: 0;
        height: 20%;
        text-align: center;
    }

    .details h3 {
        margin: 0;
        padding: 5px;
    }

        .details h3 span {
            font-weight: 300;
            font-size: 16px;
        }

    .details .red {
        background-color: red;
        border-radius: 99px;
    }


.events-confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .events-confirmation > * {
        margin: 16px auto;
    }

    .events-confirmation span .btn {
        margin: 0 30px;
    }