@{
    ViewData["Title"] = "Add a new note";
}

<div class="new-note">
    <h1>@ViewData["title"]</h1>
    <form method="post">
        <input type="text" name="title" value="" placeholder="Title" required/>
        <textarea name="text" value="" placeholder="Text" required></textarea>
        <input type="submit" value="Submit" style="cursor: pointer"/>
    </form>
</div>