<div class="events-add">
    <form asp-action="Add" method="post">
        <input type="text" name="Title" placeholder="Title" required />
        <input type="text" name="Description" placeholder="Description" required />
        <input type="text" name="Place" placeholder="Place" required />
        <input type="text" name="Address" placeholder="Address" required />
        <input type="number" name="SpotsAvailable" placeholder="Spots" required />
        <input type="datetime-local" name="Date" required />
        <input type="submit" value="Submit" />
    </form>
</div>