




<div class="home-index">
    <h1>Welcome 👋</h1>
    <p>
        Non quis laboris esse fugiat nostrud aliqua exercitation consequat. Ullamco magna reprehenderit tempor tempor fugiat amet esse velit duis laboris ut et sit. Ad quis officia reprehenderit commodo culpa deserunt irure cillum.
        Eiusmod culpa elit tempor aliquip ut adipisicing. Qui quis consectetur veniam est nostrud laborum et occaecat. Non aliqua consequat ipsum mollit duis. Aliquip consequat aliquip nulla consectetur nisi. Officia non quis eu aliqua et ea ut qui laboris aliqua est magna. Nisi dolor sunt aute sunt qui in ex commodo commodo. Lorem consequat nostrud non consectetur non id anim.
        Aliqua deserunt incididunt excepteur fugiat pariatur irure duis nostrud veniam sunt enim officia exercitation quis. Aliquip et cillum enim incididunt sint sit sit magna. Tempor ea aliquip ea id nulla cillum irure veniam voluptate occaecat ex.
    </p>
    <a href="#" class="btn">Reigster</a>
    <a href="#" class="btn">Log In</a>
</div>
