<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <ul>
            <span>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Events" asp-action="Index">Events</a></li>
            <li><a asp-controller="Events" asp-action="Booked">My Events</a></li>
            </span>
            <li><a href="#">Log In</a></li>
        </ul>
    </header>

    <div class="main-container">
        @RenderBody()
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
