@{
    bool loggedIn = base.User.Identity.IsAuthenticated;
    bool admin = base.User.IsInRole("Admin");
    bool att = base.User.IsInRole("Attendee");
    bool org = base.User.IsInRole("Organizer");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <ul>
            <span>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Events" asp-action="Index">Events</a></li>
                @if (loggedIn)
                {
                <li><a asp-controller="Events" asp-action="Booked">My Events</a></li>
                }
            </span>
            <span>
                @if (admin)
                {
                <li><a href="#" class="red">Manage Users</a></li>
                }
                @if (org)
                {
                <li><a href="#" class="green">Organize Events</a></li>
                <li><a href="#" class="green">Add Events</a></li>
                }
                @if (!loggedIn)
                {
                <li><a asp-controller="Account" asp-action="login">Log In</a></li>
                }
                else
                {
                <li><a asp-controller="Account" asp-action="logout">Log Out</a></li>
                }
            </span>
        </ul>
    </header>

    <div class="main-container">
        @RenderBody()
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
