@using aspnet_events.Models

<div class="account-login">
    <form method="post">
        <input type="text" name="Username" placeholder="Username" />
        <input type="password" name="Password" placeholder="Password" />
        <input type="submit" value="Login" />
    </form>
</div>
