<form asp-action="register" method="post">
    <input type="text" name="Username" placeholder="Username" />
    <input type="text" name="FirstName" placeholder="Firstname" />
    <input type="text" name="LastName" placeholder="Lastname" />
    <input type="email" name="Email" placeholder="Email" />
    <input type="text" name="PhoneNumber" placeholder="Phonenumber" />
    <input type="password" name="Password" placeholder="Password" />
    <input type="submit" value="Register" />
</form>